@import './variables.scss';

%nav {
    background-color: $black;
    height: $head-height;
    width: 100%;
    position: relative;
    padding: 0;
    display:grid;
}
%button_header {
    background-color: $black;
    font-family: $krub;
    color: $white;
    display: inline;
}
