
html,
body {
  padding: 0;
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.space {
  width: 20%;
  height: 200px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: black;
}
.space-off {
  width: 10%;
}
.space2 {
  min-width: 5%;
  height: 200px;
  background-color: black;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.galeryHome {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  height: auto;
  margin: 0;
  transition: all 1500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.myStyleOn{
  display: inline;
  background-color: aliceblue;
  border-radius: 30px;
  text-align: center;
  padding: 6px;
  width: 300px;
  margin-left: -100px;
}
.myStyleOff{
  display:none
}
.a {
  z-index: 1;
  width: 20%;
  margin-right: 1%;

}
.b {
  z-index: 1;
  margin-left: 1%; 
  display: inline;
  width: 200%;
}
.arrow-right {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: -170px;
  right: 2%;
  z-index: 10;
  cursor: pointer;
  color: grey;
}
.arrow-right-off {
 display: none;
}
.minBox {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 10%;
}
.arrow-left {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: -170px;
  left: 2%;
  z-index: 10;
  cursor: pointer;
  color: grey;
}
.arrow-left-off {
 display: none;
}
.active {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  height: auto;
  margin-left: -107%;
  transition: all 1500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.no-active {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-right: -100%;
  opacity: 1;
  transition: all 1500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
@media only screen and (max-width: 750px) {
  .galeryHome {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.headerMobileOn{
  transition: all 1500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  background-color: #121212;
  width: 100%;
  position: relative;
  padding: 0;
  display:grid;
  position: fixed;
  z-index: 100;
  grid-template: 10px 1fr 1fr 1fr 1fr 1fr/ 1fr;
  height: 300px;
  margin-top:40px
}
.headerMobileOff{
  transition: all 800ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  background-color: #121212;
  width: 100%;
  position: relative;
  padding: 0;
  display:grid;
  position: fixed;
  z-index: 100;
  grid-template: 10px 1fr 1fr 1fr 1fr 1fr/ 1fr;
  height: 300px;
  margin-top:-100%
}
