@import './scss/_variables.scss';
@import './scss/_extends.scss';

.header {
  @extend %nav;
  grid-template: 1fr / 1fr 150px 150px 150px 150px 150px 1fr;
  button{
    @extend %button_header;
    border: 0;
  }
  button:hover{
    background-color: $white;
    color: $black;
  }
}
.separator{
  background-color: $black;
  width: 100%;
  height: 25px;
}
.slider{
  background-image: url('../public/img/slider1.jpg');
  filter:brightness(0.4);
  background-repeat: no-repeat;
  background-size: 100% 590px;
  min-height: 590px;
  position: relative;
}
.description{
  width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas: "imagen container";
  min-height: 500px;
}
.image_1{
  grid-area: imagen;
  filter:brightness(0.4);
  background-repeat: no-repeat;
  background-size: 100% 500px;
  min-height: 500px;

}
.subtitle {
  @extend %subtitle;
  h3{
    margin-bottom: 0;
  }
}

.containerDescription2 {
  background-color: $grey_light;
  grid-area: container;
  padding: 2em 3em;
  display: grid;
  justify-content: center;
  p {
    @extend %parraf;
  }
}
.formContainer{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas: "con form";
}
.form{
  .span{
    display: block
  }
}
.service {
  width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas: "imagen container";
  min-height: 500px;
}
.containerService1 {
  background-color: $grey_light;
  grid-area: imagen;
  padding: 2em 3em;
  display: grid;
  justify-content: center;
  p {
    @extend %parraf;
  }
}
.containerService2 {
  grid-area: container;
}
.button {
  @extend %button;
  display: inline;
  justify-self: center;
}
.main {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
