@import './scss/_variables.scss';
@import './scss/_extends.scss';

.buttonHeader{
  @extend %button_header;
  border: 0;
}
.buttonHeader:hover{
  background-color: $white;
  color: $black;
}
.separator{
  background-color: $black;
  width: 100%;
  height: 25px;
}
.slider{
  background-image: url('../public/img/slider3.png');
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  min-height: 590px;
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  @media screen and (max-width: 800px){
    min-height: 500px;
  }
  @media screen and (max-width: 700px){
    min-height: 400px;
  }
}
.description{
  width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas: "imagen container";
  min-height: 500px;
}
.image_1{
  grid-area: imagen;
  filter:brightness(0.4);
  background-repeat: no-repeat;
  background-size: 100% 500px;
  min-height: 500px;

}
.subtitle {
  @extend %subtitle;
  @media screen and (max-width: 1375px){
    min-height: 120px;
    text-align: center;
  }
  h3{
    margin-bottom: 0;
  }
}

.containerDescription2 {
  background-color: $grey_light;
  grid-area: container;
  padding: 2em 3em;
  display: grid;
  justify-content: center;
  p {
    @extend %parraf;
  }
}
.formContainer{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas: "con form";
  background-color: #efefef;
}
.form{
  .span{
    display: block
  }
}
.containerService{
  display: grid;
  justify-items: center;

}
.service {
  width: 100%;
  background-color: $black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:80px 350px;
  grid-template-areas: 
  "subt subt subt"
  "a b c";
}
.galeryImage {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  justify-items: center;
  transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  min-width: 250px;
  height: 250px;
  margin: 40px 1% 0;
  justify-content: center;
}
.galeryHome {
  background-color: $grey_light;
  height: 430px;
}
.galeryMini {
  width: 2000px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  justify-items: center;
}
.boxCenter {
  width: 100%;
  display: grid;
  justify-items: center;
  height: 50px;
  margin: 0 0 20px;
}

.inputStyle{
  border: 0;
  background-color: #e4e4e4;
  border-radius: 7px;
  height: 35px;
  width: 100%;
  padding: 5px;
  transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.inputStyleText {
  border: 0;
  background-color: #e4e4e4;
  border-radius: 7px;
  height: 100px;
  width: 100%;
  padding: 5px;
  transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.inputStyle:focus {
  padding: 10px;
}
.inputStyleText:focus {
  padding: 10px;
}
.buttonForm{
  @extend %button;
}
.subtitle2{
  text-align: center;
  text-justify: end;
  grid-area: subt;
  height: 30px;
  margin:0;
  color: $white;
}
.subtitleForm {
  @extend %parraf_2;
}
.subtitleForm2 {
  @extend %subtitle;
  font-size: 17px;
  margin: 10px 0;
}
.subtitleForm3 {
  @extend %subtitle;
  font-size: 15px;
  margin: 10px 0;
}
.datos {
  display: grid;
  grid-template:100px 70px 70px/ 1fr 1fr;
  grid-template-areas:
    "ti ti"
    "dat1 dat2"
    "dat3 dat3";
    margin: 9% 9%;
    section{
      grid-area: ti;
    }
    .dat1 {
      grid-area: dat1;
    }
    .dat2 {
      grid-area: dat2;
    }
    .dat3 {
      grid-area: dat3;
    }
}
  .parra{
    @extend %parraf;
    color: $white;
    width: 200px;
  }

.formPattern {
  display: grid;
  grid-template:1fr 1fr 150px 1fr/ 1fr 1fr;
  grid-template-areas:
    "a b"
    "c c"
    "d d"
    "h e" ;
  margin: 7% 8%;
  @media screen and (max-width: 800px){
    grid-template:1fr 1fr 1fr 150px 1fr/ 1fr 1fr;
    grid-template-areas:
    "a a"
    "b b"
    "c c"
    "d d"
    "h e" ;
  }
}
.primer{
  margin: 10px 8px 0;
  grid-area: a;
  span{
    margin: 0 5px
  }
  input{
    margin-top: 10px;
  }
}
.segundo{
  margin: 10px 8px 0;
  grid-area: b;
  span{
    margin: 0 5px
  } 
  input{
    margin-top: 10px;
  }
}
.tercer{
  margin: 10px 8px 0;
  grid-area: c;
  span{
    margin: 0 5px
  } 
  input{
    margin-top: 10px;
  }
}
.cuarto{
  margin: 10px 8px 0;
  grid-area: d;
  span{
    margin: 0 5px
  }
  input{
    margin-top: 10px;
  }
}
.buttonFormBox {
  grid-area: e;
  margin: 20px 8px;
  display: grid;
  justify-self: end;
}
.button {
  @extend %button;
  display: inline;
  justify-self: center;
}
.main {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color:$black;
  color: $white;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.galerys {
  background-color: $white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  @media screen and (max-width: 1050px){
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  }
  @media screen and (max-width: 770px){
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
  }
  @media screen and (max-width: 500px){
    grid-template: 1fr 1fr 1fr / 1fr;
  }
}
.titleGalery {
  background-color: $white;
  width: 100%;
  height: 150px;
  padding-top: 70px;
}
.icon {
  align-self:center;
  justify-self:center;
  color: #121212;
}
.Services {
  width: 100%;
  background-color: #121212;
  display: grid;
  grid-template: 100px 400px/ 10% 1fr 1fr 1fr 10%;
  grid-template-areas: 
  "sub sub sub sub sub"
  "bor a b c bor1";
  padding: 50px 0;

      @media screen and (max-width: 800px){
          grid-template: 50px 180px 180px 180px/ 10% 1fr 5%;
          grid-template-areas: 
          "sub sub sub"
          "bor a bor1"
          "bor b bor1"
          "bor c bor1";
          height:750px;
          align-content: center;
      }
      @media screen and (max-width: 315px){
        grid-template: 50px 180px 180px 180px/ 1% 1fr 5%;
        grid-template-areas: 
        "sub sub sub"
        "bor a bor1"
        "bor b bor1"
        "bor c bor1";
        height:830px;
        align-content: end;
    }
  }
  .Circle {
  background-color: #efefef;
  border-radius: 300px;
  width: 120px;
  height: 120px;
  display: grid;
  justify-self:center;
  justify-content: center;
  align-content: center;
  align-self: end;
  
      @media screen and (max-width: 800px){
      margin-left: 18%;
      align-self: center;
      justify-self: start;
      width: 90px;
      height: 90px;
      }
      @media screen and (max-width: 500px){
        width: 70px;
        height: 70px;
      }
      @media screen and (max-width: 400px){
        width: 60px;
        height: 60px;
      }
  }
  .ContainerSub {
  display: grid;
  justify-content: center;
      @media screen and (max-width: 800px){
          margin-left:200%;
          justify-self: end;
      }
  }

  .MarkFont {
  display: grid;
  justify-self: center;
  height: 60px;
  width: 60px;
      @media screen and (max-width: 800px){
          height: 50px;
          width: 50px;
      }
      @media screen and (max-width: 500px){
          height: 40px;
          width: 40px;
      }
  }
  .ContainerService {
  grid-area: a;
  display: grid;
  grid-template: 150px 200px/ 1fr;
  justify-content: center;
  align-items: center;
  height:400px;

  @media screen and (max-width: 800px){
      justify-content: start;
      align-items: center;
      grid-template: 150px/ 100px 150px;
      margin:30px 0;
      height:200px;
  }
  }
  .SubtitleService{
  color: #e4e4e4;
  margin-top: 40px;
  display: grid;
  justify-self: center;
  text-justify: center;
  align-self: start;
  @media screen and (max-width: 800px){
    justify-self: start;
    margin-top: 0;
  }
  }
  .Title {
  text-align: center;
  text-justify: start;
  grid-area: sub;
  height: 30px;
  margin:0;
  color: #e4e4e4;
  @media screen and (max-width: 400px){
    font-size: x-large;
  }
  }
  .Border {
  grid-area: bor;
  }        
  .Border1 {
  grid-area: bor1;
  }
  .Cont1 {
  grid-area: a;
  }
  .Cont2 {
  grid-area: b;
  }
  .Cont3 {
  grid-area: c;
  }
  .Div {
  justify-items: center;
  align-items: center;
  @media screen and (max-width: 800px){
    width: 90%;   
  }
  @media screen and (max-width: 650px){
    width: 80%;   
  }
  @media screen and (max-width: 600px){
    width: 65%;   
  }
  @media screen and (max-width: 500px){
    width: 56%;   
  }
  @media screen and (max-width: 450px){
    width: 48%;   
  }
  @media screen and (max-width: 400px){
    width: 35%;   
  }    
  @media screen and (max-width: 400px){
    width: 30%;   
  }   
  }
  .ParrafoService {
    width:200px;
    color:$white;
    display:grid;
    text-align: center;
    text-justify: start;
    font-size: smaller; 
    @media screen and (max-width: 400px){
      width:150px;
    }    
}
.Description {
  width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas: "imagen container";
  min-height: 500px; 
  @media screen and (max-width: 800px){
    grid-template-columns:1fr;
    grid-template-areas: "container";
    height: 500px;
  }
}

.ContainerDescription1{
  @media screen and (max-width: 800px){
    display: none;
  }
}
.GaleryOff {
  display: none;

  @media screen and (max-width: 800px){
    display: block;
  }
}
.FormContainer {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas: "con form";
  background-color: #efefef;
  
      @media screen and (max-width: 750px){
          grid-template-columns: 1fr;
          grid-template-rows: 300px 1fr;
          grid-template-areas: "con" "form";
      }
  }
  .Galeria {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  min-width: 100%;
  
  @media screen and (max-width: 800px){
    display: none;
  }
}
.header {  
  background-color: #121212;
  height: 65px;
  width: 100%;
  position: relative;
  padding: 0;
  display:grid;
  grid-template: 1fr / 1fr 150px 150px 150px 150px 150px 1fr;
  position: fixed;
  z-index: 100;
  @media screen and (max-width: 800px){
    display: none;
}
}
.Border {
  display: flex;
  flex-wrap: nowrap;
  width: 18.4%;

  @media screen and (max-width: 1475px){
    width: 18%;
  }
  @media screen and (max-width: 1450px){
    width: 17.3%;
  }
  @media screen and (max-width: 1425px){
    width: 16.7%;
  }
  @media screen and (max-width: 1400px){
    width: 15.8%;
  }
  @media screen and (max-width: 1375px){
    width: 15.4%;
  }
  @media screen and (max-width: 1350px){
    width: 14.8%;
  }
  @media screen and (max-width: 1325px){
    width: 14.2%;
  }
  @media screen and (max-width: 1300px){
    width: 13.5%;
  }
  @media screen and (max-width: 1275px){
    width: 13%;
  }
  @media screen and (max-width: 1250px){
    width: 12.3%;
  }
  @media screen and (max-width: 1225px){
    width: 11.7%;
  }
  @media screen and (max-width: 1200px){
    width: 11%;
  }
  @media screen and (max-width: 1175px){
    width: 10.6%;
  }
  @media screen and (max-width: 1150px){
    width: 10%;
  }
  @media screen and (max-width: 1125px){
    width: 9.5%;
  }
  @media screen and (max-width: 1100px){
    width: 8.8%;
  }
  @media screen and (max-width: 1075px){
    width: 8.2%;
  }
  @media screen and (max-width: 1050px){
    width: 7.4%;
  }
  @media screen and (max-width: 1025px){
    width: 6.9%;
  }
  @media screen and (max-width: 1000px){
    width: 6%;
  }
  @media screen and (max-width: 975px){
    width: 5.8%;
  }
  @media screen and (max-width: 950px){
    width: 5.1%;
  }
  @media screen and (max-width: 925px){
    width: 4.3%;
  }
  @media screen and (max-width: 900px){
    width: 3.8%;
  }
  @media screen and (max-width: 875px){
    width: 3%;
  }
  @media screen and (max-width: 850px){
    width: 2.3%;
  }
  @media screen and (max-width: 825px){
    width: 1.9%;
  }
  @media screen and (max-width: 800px){
    display: none
  }
}
.headerMobile {
  display: none;
  @media screen and (max-width: 800px){
    display: block;
    position: fixed;
    background-color: $black;
    height: 50px;
    width: 100%;
    z-index: 200;
  }
}
.buttonMenu {
  background-color: $black;
  color:#eaeaea;
  height: 50px;
  display: flex;
  justify-self: end;
}

.imgSlider {
  position:relative;
  width: 310px; 
  @media screen and (max-width: 700px){
    width: 300px; 
  }
  @media screen and (max-width: 600px){
    width: 280px; 
  }
  @media screen and (max-width: 500px){
    width: 250px; 
  }
  @media screen and (max-width: 400px){
    width: 230px; 
  }
}
// @media screen and (max-width: 1100px){
//   margin-left: 34%;
// }
// @media screen and (max-width: 1100px){
//   margin-left: 32%;
// }
// @media screen and (max-width: 900px){
//   margin-left: 30%;
// }
// @media screen and (max-width: 800px){
//   margin-left: 25%;
// }
// @media screen and (max-width: 700px){
//   margin-left: 23%;
// }
// @media screen and (max-width: 600px){
//   margin-left: 23%;
//   width: 340px;
// }
// @media screen and (max-width: 500px){
//   margin-left: 18%;
//   width: 320px;
// }
